.social_buttons {
    display: flex;
    justify-content: center;
    gap: 2%;
    flex-direction: row;
    margin-top: 1%;
}

.button_one {
    border: 2px solid rgb(0, 204, 0);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    padding: 1% 2%;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
}

.button_one:hover {
    background-image:linear-gradient(190deg, rgb(0, 204, 0), rgba(8, 95, 8, 0.550));
    color: rgb(0, 0, 0);
}

.button_two {
    border: 2px solid rgb(0, 204, 0);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    border-radius: 25px;
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
}

.button_two:hover {
    background-image:linear-gradient(190deg, rgb(0, 204, 0), rgba(8, 95, 8, 0.550));
    border: 2px solid rgb(0, 204, 0);
    color: rgb(0, 0, 0);
}